<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.etatech.test">
    <!-- Required to access Google Play Licensing -->
    <uses-permission android:name="com.android.vending.CHECK_LICENSE" /> <!-- Required to download files from Google Play -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--
 Required to keep CPU alive while downloading files
        (NOT to keep screen awake)
    -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--
 Required to poll the state of the network connection
        and respond to changes
    -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- Required to check whether Wi-Fi is enabled -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- Required to read and write the expansion files on shared storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-feature
        android:name="android:software.live_wallpaper"
        android:required="false" />

    <supports-gl-texture android:name="GL_OES_compressed_ETC1_RGB8_texture" />
    <supports-gl-texture android:name="GL_OES_compressed_paletted_texture" />

    <application
        android:name=".utils.App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".view.TestLocalizeActivity"></activity>
        <activity android:name=".view.TestWebpActivity" />

        <service
            android:name=".widget.wallpaper.LiveWallpaperAndroid"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/livewallpaper" />
        </service>

        <activity android:name=".widget.wallpaper.SettingsPrefActivity" />
        <activity android:name=".spine.GoblinActivity" />
        <activity android:name=".spine.SpineBoyActivity" />
        <activity android:name=".view.TestSpineActivity" />
        <activity android:name=".view.TestShareActivity" />
        <activity android:name=".view.TestSchemeActivity">

            <!-- Android 接收外部跳转过滤器 -->
            <!-- 要想在别的App上能成功调起App，必须添加intent过滤器 -->
            <intent-filter>

                <!-- 协议部分配置 ,注意需要跟web配置相同 -->
                <!-- 协议部分，随便设置 schemetest://hosttest:666/pathtest?from=MainActivity -->
                <data
                    android:host="www.hosttest.com"
                    android:path="/pathtest"
                    android:port="666"
                    android:scheme="https" />
                <data
                    android:host="www.hosttest.com"
                    android:path="/pathtest"
                    android:port="666"
                    android:scheme="app" />

                <!-- 下面这几行也必须得设置 -->
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name=".view.TestHtmlTextViewActivity" />
        <activity android:name=".view.TestOpenglesActivity" />
        <activity android:name=".view.TestEmojiActivity" />
        <activity android:name=".view.TestAndroidIdActivity" />
        <activity android:name=".view.TestPrintStackActivity" />
        <activity
            android:name=".view.TestBezierActivity"
            android:hardwareAccelerated="false" /> <!-- 关闭硬件加速 -->
        <activity android:name=".view.TestCustomViewDemoActivity" />
        <activity
            android:name=".view.TestCustomViewActivity"
            android:hardwareAccelerated="false" />
        <activity android:name=".view.TestWheelPickerActivity" />
        <activity android:name=".view.TestScrollToActivity" />
        <activity android:name=".view.TestRandomDungeonActivity" />
        <activity android:name=".view.TestMaskLayoutActivity" />
        <activity android:name=".view.TestAstarAlgorithmActivity" />
        <activity android:name=".view.TestRecyclerviewAnimationActivity" />
        <activity android:name=".view.TestExportSvgActivity" />
        <activity android:name=".view.TestSocketActivity" />
        <activity android:name=".view.TestLifecycleActivity" />
        <activity android:name=".view.TestObbBuildActivity" />
        <activity android:name=".view.TestMultiAnimationActivity" />
        <activity android:name=".view.TestShaderActivity" />
        <activity android:name=".view.TestIpcAidlActivity" />
        <activity
            android:name=".view.AntiEmulatorActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity android:name=".view.TestDarkModeActivity" />
        <activity android:name=".view.TestClickAreaActivity" />
        <activity android:name=".view.TestSplashAdActivity" />
        <activity
            android:name=".view.SplashActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.TestJavaRequestActivity" />
        <activity android:name=".view.TestMvvmActivity" />
        <activity android:name=".view.TestSvgActivity" />
        <activity android:name=".view.TestAnimationActivity" />
        <activity android:name=".view.ActivityTestSort" />
        <activity android:name=".view.TestFloatingViewActivity" />
        <activity android:name=".view.LeakSensorManagerActivity" />
        <activity android:name=".view.LeakTimerTaskActivity" />
        <activity android:name=".view.LeakThreadActivity" />
        <activity android:name=".view.LeakHandlerActivity" />
        <activity android:name=".view.LeakAnonymousClassActivity" />
        <activity android:name=".view.LeakInnerClassActivity" />
        <activity android:name=".view.LeakStaticViewActivity" />
        <activity android:name=".view.TestLeakActivity" />
        <activity android:name=".view.LeakStaticActivity" />
        <activity android:name=".view.TestAudioActivity" />
        <activity android:name=".view.TestMvpActivity" />
        <activity android:name=".view.TestDataBindingActivity" />
        <activity android:name=".view.TestSurfaceviewActivity" />
        <activity android:name=".view.TestTranslationActivity" />
        <activity android:name=".view.AdaptWidthActivity" />
        <activity android:name=".view.AdaptHeightActivity" />
        <activity android:name=".view.MainActivity" />

        <service
            android:name=".service.FloatingService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.IpcAidlService"
            android:enabled="true"
            android:exported="false"
            android:process=":remote" />

        <receiver
            android:name=".receiver.RebootCompleteReceiver"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>