<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.etatech.test">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".utils.App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.AntiEmulatorActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.TestDarkModeActivity" />
        <activity android:name=".view.TestClickAreaActivity" />
        <activity android:name=".view.TestSplashAdActivity" />
        <activity
            android:name=".view.SplashActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>
        <activity android:name=".view.TestJavaRequestActivity" />
        <activity android:name=".view.TestMvvmActivity" />
        <activity android:name=".view.TestSvgActivity" />
        <activity android:name=".view.TestAnimationActivity" />
        <activity android:name=".view.ActivityTestSort" />

        <service
            android:name=".service.FloatingService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".view.TestFloatingViewActivity" />
        <activity android:name=".view.LeakSensorManagerActivity" />
        <activity android:name=".view.LeakTimerTaskActivity" />
        <activity android:name=".view.LeakThreadActivity" />
        <activity android:name=".view.LeakHandlerActivity" />
        <activity android:name=".view.LeakAnonymousClassActivity" />
        <activity android:name=".view.LeakInnerClassActivity" />
        <activity android:name=".view.LeakStaticViewActivity" />
        <activity android:name=".view.TestLeakActivity" />
        <activity android:name=".view.LeakStaticActivity" />
        <activity android:name=".view.TestAudioActivity" />
        <activity android:name=".view.TestMvpActivity" />
        <activity android:name=".view.TestDataBindingActivity" />
        <activity android:name=".view.TestSurfaceviewActivity" />
        <activity android:name=".view.TestTranslationActivity" />
        <activity android:name=".view.AdaptWidthActivity" />
        <activity android:name=".view.AdaptHeightActivity" />
        <activity android:name=".view.MainActivity" />
    </application>

</manifest>